@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper {
  width: 94%;
}

.header-top {
  padding: 6px;
  background-color: #000;
  color: white;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main-header {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

nav { position: relative; }

/*.hamberger {  }*/

.hamberger div {
  width: 20px;
  height: 2px;
  border-radius: 1px;
  margin: 3px;
  background-color: #000;
  text-indent: -9999px;
}

.hamberger:hover div { background-color: #2A44C9; }

.hamberger:hover + ul { display: block; }

nav ul {
  width: 70px;
  height: auto;
  display: none;
  position: absolute;
  left: 0;
}

nav li { 
  width: 100%; 
  display: block;
}

nav a {  
  width: 100px;
  padding: 8px 12px;
  display: block;
  background-color: #000;
  color: white;
  text-decoration: none;
}

.logos {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.logos h1, h2 { margin: 0 33% 0 0; }

.logos a {
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

.logos a:hover { color: #2A44C9; }
.logos img { min-width: 76px; }
h1 { text-indent: -9999px; }

h1 a {
  text-indent: 0;
  float: left;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right a {
  margin-right: 15px;
  color: #000;
  font-size: 20px;
  text-transform: capitalize;
}

.header-right a:hover { color: #2A44C9; }

.search  button {
  border-style: none;
  background-color: transparent;
  text-indent: -9999px;
}

.search  button::before {
  content: "\f002";
  float: left;
  font-family: fontAwesome;
  font-size: 20px;
  text-indent: 0;
}

.search input {
  display: none;
}



/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
main .wrapper {
  width: 94%;
}

.banner { position: relative; }
.banner ul li { display: none; }

.banner h3 {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  color: white;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.banner ul .slide1 {
  display: block;
}

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
}

.dots button {
  border-style: none;
  background-color: transparent;
  text-indent: -9999px;
}

.dots button:hover::before { 
  border-color: white;
  background-color: white;
  color: white; 
}

.dots button::before {
  border: 3px solid #f1f1f1;
  border-radius: 50%;
  content: "\f111";
  color: transparent;
  font-family: fontAwesome;
  float: left;
  text-indent: 0;
}

.dots .active::before  {
  border-color: white;
  background-color: white;
  color: white;
}

.products ul {
  margin: 75px 0 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products ul li {
  margin: 0 14px 50px;
  padding: 0 10px;
  text-align: center;
}

.products ul li:hover { box-shadow: 0 10px 5px grey; }

.products a {
  color: #000;
  text-transform: capitalize;
}

.products figure {
  margin-bottom: 75px;
}

.products h4 {
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
}

.products span:first-of-type {
  margin-bottom: 10px;
  display: block;
  color: #908E91;
}

.products span:nth-of-type(2) {
  margin-bottom: 25px;
  display: block;
  color: #908E91;
  font-size: 10px;
}

.combo {
  margin-bottom: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.combo figcaption {
  margin: 15px;
  color: #000;
  font-weight: bold;
  text-transform: capitalize;
}


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer { 
  padding: 53px 0;
}

footer.wrapper { 
  width: 94%;
  position: relative; 
 }

footer a { 
  color: #000;
  font-weight: bold;
  text-transform: capitalize;
}

.contacts {
  margin: 0 26%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts li { margin-right: 25px; }

[title="FAQ"] {
  text-transform: uppercase;
}

.social {
  position: absolute;
  top: 49px;
  right: 0;
}

.social li {
  margin-right: 15px;
  font-size: 20px;
  text-indent: -9999px;
}

.social li:first-child::before {
  content: "\f16d";
  font-family: fontAwesome;
  float: left;
  text-indent: 0;
}

.social li:last-child::before {
  content: "\f230";
  font-family: fontAwesome;
  float: left;
  text-indent: 0;
}

.footer-bottom {
  margin: 53px 23.5% 0;
  display: flex;
  justify-content: center;
}

.footer-bottom span {
  position: relative;
  color: #BDB8BE;
  text-transform: uppercase;
}

.footer-bottom span::after {
  content: "\f25d";
  position: absolute;
  top: 0;
  font-family: fontAwesome;
  font-size: 5px;
}

.footer-bottom ul {
  display: flex;
  justify-content: space-between;
}

.footer-bottom ul::before {
  content: "-";
  margin: 0 10px;
  color: #BDB8BE;
}

.footer-bottom li {
  margin-right: 10px;
  font-size: 15px;
}

.footer-bottom a { 
  color: #BDB8BE;
  font-weight: normal; 
}

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

/*.header-right {
  display: block;
}*/

/*nav, .logos, .header-rigth {
  width: 100%;
  display: inline-block;
}
*/

.banner h3 { font-size: 20px; }
.logos h1, h2 { margin: 0 10% 0 0; }
footer a:hover { color: #2A44C9; }

.footer-bottom ul {
  flex-wrap: wrap;
}

.footer-bottom li {
  margin: 5px;
}

.social li:hover::before { color: #2A44C9; }

}  


@media only screen and (max-width: 550px) {
  .logos h1, h2 { margin: 0 5% 0 0; }
}
